#colors-options {
    padding: 50px;
}

#colors-options:after {
    content: "";
    display: table;
    clear: both;
}

#colors-options .left-side{
    width: 60%;
    text-align: center;
}

#colors-options .left-side img {
    width: 80%;
    display: inline-block;
    float: left;
    margin: 0 auto;
}


#colors-options .right-side{
    width: 40%;
    display: inline-block;
    margin-left: 100px;
}

#colors-options .right-side .swatch-colors{
    background: white; 
    padding: 20px;
    height: 100px;
    margin-bottom: 30px;
}

#colors-options .right-side .swatch-colors .circle{
    width: 70px;
    height: 70px;
    display: inline-block;
}

#colors-options .collection-box {
    text-align: center; 
    padding: 20px;
}