header {
    padding: 30px 20px;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 60px;
}

header a {
    color: black;
    text-decoration: none;
}

header:after {
    content: " ";
    display: table;
    clear: both;
}

header .logo {
    display: inline-block;
    float: left;
    margin-right: 28px;
}

header .logo img {
    width: 50px;
}

header .menu {
    display: inline-block;
    float: left;
    position: relative;
    top: 20px;
}

header .menu a {
    text-transform: uppercase;
    padding: 0 10px;
    text-decoration: none;
}

header .header-buttons {
    display: inline-block;
    float: right;
    position: relative;
    top: 20px;
    text-transform: uppercase;
}

header .header-buttons .cart-btn {
    background-color: #DB133A;
    color: white;
    padding: 10px 20px;
    margin-right: 15px;
    border-radius: 20px;
}

header .header-buttons .login-btn {
    background-color: #ED7624;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
}

/* Tablets Devices */
@media only screen and (max-width: 1023px) { 
 header .header-buttons {
    float: right;
    position: relative;
    top: 20px;
    text-transform: uppercase;
    margin-top: 30px;
  }
}

/* Mobiles Devices */
@media only screen and (max-width: 767px) { 
    header .header-buttons {
    float: right;
    position: relative;
    top: 20px;
    text-transform: uppercase;
    margin-top: 30px;
 }
}