#latest-iphones {
    padding: 50px 0;
    margin-top: 60px;
}

#latest-iphones .head-products {
    padding: 50px 0;
}

#latest-iphones .head-products:after {
    content: "";
    display: table;
    clear: both;
}

#latest-iphones .head-products h1 {
    color: #ED8081;
    font-size: 4rem;
    max-width: 400px;
    width: 100%;
    float: left;
    display: inline-block;
}

#latest-iphones .head-products .directions {
    float: right;
    display: inline-block;
    border: 1px solid #ED8081;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    top: 20px;
}

#latest-iphones .head-products .directions .move-left {
    float: left;
    padding: 20px 70px;
    font-size: 3rem;
    background: #ED8081;
    color: white;
    border: 1px solid white;
}

#latest-iphones .head-products .directions .move-right {
    float: right;
    padding: 20px 70px;
    font-size: 3rem;
    background: white;
    color: #ED8081;
}

#latest-iphones .body {
    padding: 100px 0;
}

#latest-iphones .latest-products:after {
    content: "";
    display: table;
    clear: both;
}

#latest-iphones .latest-products .column {
    width: 33.33%;
    float: left;
    text-align: center;
}

#latest-iphones .latest-products .column .bg-square{
    width: 300px;
    height: 300px;
    background: red; 
    margin: auto 0;
    margin: 0 auto;
    position: relative;
}

#latest-iphones .latest-products .column .bg-square img {
    width: 60%; 
    position: absolute;
    top: -25px;
    left: 20%;
}

#latest-iphones .latest-products .column .bg-square .cart {
    width: 40px; 
    height: 40px;
    position: absolute;
    border: 10px solid white;
    font-size: 1.1rem;
    top: -25px;
    right: -10px;
    border-radius: 50%; 
    background: red; 
}

#latest-iphones .latest-products .column .bg-square .fas {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 10px;
    color: white;
}