#latest-iphones {
    padding: 50px 0;
    margin-top: 60px;
}

#latest-iphones .head-products {
    padding: 50px 0;
}

#latest-iphones .head-products:after {
    content: "";
    display: table;
    clear: both;
}

#latest-iphones .head-products h1 {
    color: #ED8081;
    font-size: 4rem;
    max-width: 400px;
    width: 100%;
    float: left;
    display: inline-block;
}

#latest-iphones .head-products .directions {
    float: right;
    display: inline-block;
    border: 1px solid #ED8081;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    top: 20px;
}

#latest-iphones .head-products .directions .move-left {
    float: left;
    padding: 20px 70px;
    font-size: 3rem;
    background: #ED8081;
    color: white;
    border: 1px solid white;
}

#latest-iphones .head-products .directions .move-right {
    float: right;
    padding: 20px 70px;
    font-size: 3rem;
    background: white;
    color: #ED8081;
}

#latest-iphones .body {
    padding: 100px 0;
}

#latest-iphones .latest-products:after {
    content: "";
    display: table;
    clear: both;
}

#latest-iphones .latest-products {
   padding-top: 80px;
}


#latest-iphones .latest-products .column {
    width: 33.33%;
    float: left;
    text-align: center;
}

#latest-iphones .latest-products .column .bg-square {
    width: 300px;
    height: 300px;
    background: #ffffff;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #ffffff 19%, #fff2f2 38%, #f9bdbd 69%, #f97777 96%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #ffffff 19%, #fff2f2 38%, #f9bdbd 69%, #f97777 96%);
    /* Chrome10-25,Safari5.1-6 */
    margin: auto 0;
    margin: 0 auto;
    position: relative;
}

#latest-iphones .latest-products .column .bg-square img {
    width: 60%;
    position: absolute;
    top: -25px;
    left: 20%;
}

#latest-iphones .latest-products .column .bg-square .cart {
    width: 40px;
    height: 40px;
    position: absolute;
    border: 10px solid white;
    font-size: 1.1rem;
    top: -25px;
    right: -10px;
    border-radius: 50%;
    background: red;
}

#latest-iphones .latest-products .column .bg-square .fas {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 10px;
    color: white;
}

#latest-iphones .latest-products .column .line {
    width: 20%;
    height: 2px;
    margin: 20px auto;
    background: red;
    display: inline-block;
}

#latest-iphones .latest-products .column .price {
    color: #ED8081;
    font-size: 1.5rem;
}

/* Newsletter Section */
#latest-iphones .newsletter {
    margin-top: 70px;
    text-align: center;
    position: relative;
}

#latest-iphones .newsletter img {
    width: 20%;
    z-index: 1;
    top: 0;
    left: 30%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%) invert(100%);
    opacity: 0.3;
}

#latest-iphones .newsletter .email-box {
    z-index: 2;
    position: relative;
    top: -200px;
}

#latest-iphones .newsletter .email-box h2 {
   font-size: 2rem;
    color: red;
    margin-bottom: 30px;
    text-transform: capitalize;
}

#latest-iphones .newsletter .email-box .newsletter-area {
    display: inline-block;
    background: white;
    border: 1px #ED8081 solid;
    padding: 20px;
    border-radius: 30px;
}

#latest-iphones .newsletter .email-box .newsletter-area .email {
    display: inline-block;
}

#latest-iphones .newsletter .email-box .newsletter-area .name {
    display: inline-block;
}

#latest-iphones .newsletter .email-box .newsletter-area .fa-envelope {
    background: white;
    color: #DB133A;
    font-size: 1.3rem;
    margin-right: 10px;
}

#latest-iphones .newsletter .email-box .newsletter-area  input[type="fname"] {
    border: none;
    font-size: 1.1rem;
}

#latest-iphones .newsletter .email-box .newsletter-area input[type="email"] {
    border: none;
    font-size: 1.1rem;
}

#latest-iphones .newsletter .email-box .newsletter-area button {
    background: #DB133A;
    padding: 10px 30px;
    border-radius: 20px;
    font-size: 1.2rem;
    color: white;
    margin-right: 10px;
    text-transform: uppercase;
}