#top-jumbo {
    background: #ffffff;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #ffffff 0%, #ed8081 57%, #fcd1d9 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #ffffff 0%, #ed8081 57%, #fcd1d9 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #ffffff 0%, #ed8081 57%, #fcd1d9 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
